html {
  background: #2b2b2b;
}

body {
  text-align: center;
  color: #ffffff;
}

.count {
  position: relative;
  margin: 40px 0;
  padding: 14px 16px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
}
.count.glow {
  text-shadow: 0 0 4px #ffffff;
}
