{% extends 'geoBundle:Default:base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}
{% block body %}
<div class="col-md-4 col-md-offset-4">
	
	<form class="" action="{{ path('game') }}" method="post">
		<div class="form-group">
			<label>Nom d'utilisateur</label>
			<input type="text" name="username" value="" placeholder="username">
		</div>
		<div class="form-group">
			<label>Email</label>
			<input type="text" name="email" value="" placeholder="email">
		</div>
		<input type="submit" role="button" class="btn btn-primary">
	</form>
</div>
{% endblock %}