<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Street View side-by-side</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"/>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #pano {
        height: 100%;
        width: 100%;
        position: absolute;
      }
      #map{
        float: right;
        width:30%;
        height:40%;
        position: relative;
        z-index: 10;
       }
	  #pano text {
		display: none;
	  }
    </style>
  </head>
  <body>
    <div id="pano"></div>
    <div id="map"></div>
    <!-- <button class="btn">Valider</button> -->
    <script type="text/javascript" charset="utf-8" async defer>
    function initialize() {
    	var fenway = {lat: {{ ville.lat }}, lng: {{ ville.lon }}};
    	var chartres = {lat: 48.443854, lng: 1.489012};
    	var markers = [];
    	var map = new google.maps.Map(document.getElementById('map'), {
    	center: chartres,
    	zoom: 0,
    	mapTypeControl: false,
    	signInControl: false,
    	streetViewControl: false
    	});
    	var panorama = new google.maps.StreetViewPanorama(
          document.getElementById('pano'), {
            position: fenway,
            pov: {
              heading: 34,
              pitch: 10
            },
    		zoom: 1,
    		linksControl: true,
    		panControl: false,
    		addressControl: false
          });
    	  function setMapOnAll(map) {
      for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(map);
      }
    }

    	  function clearMarkers() {
    	    setMapOnAll(null);

    	  }

    	google.maps.event.addListener(map, 'click', function(event) {
    		placeMarker(event.latLng);
    	});

    	function placeMarker(location) {
    		clearMarkers();
    	    var marker = new google.maps.Marker({
    	        position: location,
    	        map: map
    	    });
    		markers.push(marker);
    	}
    }

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCV4TwMSVgCpcNTOOEqi-jZOjlsHBi_omk&signed_in=true&callback=initialize">
    </script>
    <script src='{{ asset("js/bootstrap.js") }}'></script>
  </body>
</html>
